* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Select Section Css */

#body_select {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav_select {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF8EF;
}

.nav_select h1 {
    font-size: 38px;
    color: #F96E2A;
    text-decoration: underline #C9E6F0;
}

.main_select {
    width: 100%;
    flex-grow: 1;
    background-color: #78B3CE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_select .select {
    width: 50%;
    height: 400px;
    border: 4px solid #F96E2A;
    border-radius: 12px;
    background-color: #FBF8EF;
}

.select .visit {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select .visit h2 {
    font-size: 32px;
    font-weight: 100;
    color: #78B3CE;
    text-decoration: underline #F96E2A;
}

.select .option {
    width: 100%;
    height: 300px;
}

.select .option .sub_option {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_option .radio_style {
    width: 40px;
    height: 20px;
}

.sub_option label {
    font-size: 24px;
    font-weight: 400;
    color: #F96E2A;
}

.sub_option button {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #C9E6F0;
    border: 2px solid #F96E2A;
    font-size: 16px;
    font-weight: 800;
    color: #F96E2A;
}


.employee_select {
    display: none; /* Hidden */
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: #FBF8EF;
    border: 2px solid #F96E2A;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    height: auto;
    text-align: center;
}

.employee_select .close_button{
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: 800;
}

.employee_select .close_button:hover{
    color: red;
}

.employee_select h2{
    font-size: 22px;
    color: #F96E2A;
}

.employee_select input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #78B3CE;
    border-radius: 5px;
}

.employee_select button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: #C9E6F0;
    border: 2px solid #F96E2A;
    font-size: 16px;
    font-weight: 800;
    color: #F96E2A;
}

/* Select Section Css End */

/* Signin Section Css Start */
/* Login Section Css Start */

.main_signin,
.main_login {
    width: 100%;
    height: auto;
}

.main_signin .signin_nav,
.main_login .login_nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FBF8EF;
}

.main_signin .signin_nav button,
.main_login .login_nav button {
    width: 150px;
    height: 40px;
    background-color: #C9E6F0;
    border: 2px solid #F96E2A;
    border-radius: 12px;
}

.main_signin .signin_nav button a,
.main_login .login_nav button a {
    text-decoration: none;
    color: #F96E2A;
    font-size: 16px;
}

.main_signin .signin_nav h1,
.main_login .login_nav h1 {
    font-size: 32px;
    color: #F96E2A;
    text-decoration: underline #C9E6F0;
}

.main_signin .signin_form {
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: #78B3CE;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_login .login_form {
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: #78B3CE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_form form,
.login_form form {
    width: 50%;
    height: auto;
    border: 4px solid #FBF8EF;
    border-radius: 12px;
    background-color: #C9E6F0;
}

.signin_form form .sign_option,
.login_form form .login_option {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_form form .sign_option input,
.login_form form .login_option input {
    width: 70%;
    height: 45px;
    border: 2px solid #F96E2A;
}

.signin_form form .sign_option input:placeholder-shown,
.login_form form .login_option input:placeholder-shown {
    text-align: center;
}

.signin_form form .sign_option_two,
.login_form form .login_option_two {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signin_form form .sign_option_two p,
.login_form form .login_option_two p {
    width: 100%;
    font-size: 18px;
    color: gray;
}

.signin_form form .sign_option_two input,
.login_form form .login_option_two input {
    width: 40px;
    height: 20px;
}

.signin_form form .sign_option_two label,
.login_form form .login_option_two label {
    font-size: 16px;
    color: black;
}

.signin_form form .sign_option button,
.login_form form .login_option button {
    width: 200px;
    height: 40px;
    background-color: #78B3CE;
    border: 2px solid #FBF8EF;
    border-radius: 12px;
    font-size: 18px;
    color: whitesmoke;
}

.signin_form form .sign_option p,
.login_form form .login_option p {
    font-size: 18px;
}

.signin_form form .sign_option p a,
.login_form form .login_option p a {
    text-decoration: underline black;
    color: black;
    font-size: 18px;
}


/* Signin Section Css End */

/* signin alert Css Satrt */

.sign_alert {
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78B3CE;
}

.sign_alert .sign_alert_target {
    width: 50%;
    height: 50px;
    border: 2px solid whitesmoke;
    background-color: #00FF9C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_alert .sign_alert_target h2 {
    font-size: 24px;
    font-weight: 100;
    color: whitesmoke;
}

/* Sign alert Css End */


/* Login Section Css End */


/* Dashboard Section Css Start  */
.main_dash {
    width: 100%;
    height: auto;
}

.nav_dash {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF8EF;
    border-bottom: 2px solid #78B3CE;
}

.nav_dash h1 {
    font-size: 38px;
    color: #F96E2A;
    text-decoration: underline #C9E6F0;
}

.welcome_dash {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF8EF;
    border-bottom: 2px solid #F96E2A;
}

.welcome_dash h2 {
    font-size: 38px;
    color: #F96E2A;
    text-decoration: underline #C9E6F0;
}

.sub_dash {
    width: 100%;
    min-height: calc(100vh - 140px);
    display: flex;
}

.sub_dash .left {
    width: 20%;
    height: inherit;
    background-color: #C9E6F0;
}

.sub_dash .left .left_div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_dash .left .left_div button {
    width: 250px;
    height: 50px;
    border: 2px solid #F96E2A;
    border-radius: 12px;
    background-color: #FBF8EF;
    font-size: 16px;
    color: #F96E2A;
}

.sub_dash .right {
    width: 80%;
    height: inherit;
    background-color: #78B3CE;
}

.sub_dash .right table {
    width: 100%;
    height: auto;
    border-collapse: collapse;

}

.sub_dash .right table tr {
    height: 60px;
}

.sub_dash .right table th {
    width: 20%;
    border-bottom: 2px solid #FBF8EF;
    font-size: 22px;
    font-weight: 800;
    color: #222831;
}

.sub_dash .right table td {
    width: 20%;
    border-bottom: 2px solid #FBF8EF;
    font-size: 18px;
    font-weight: 800;
    color: #FBF8EF;
    text-align: center;
}

.sub_dash .right table td button {
    width: 60%;
    height: 35px;
    font-size: 14px;
    color: #F96E2A;
    background-color: #C9E6F0;
    border: 2px solid #F96E2A;
    border-radius: 12px;
}

/* Dashboard Css End */

/* HomePage Css Start */

.main_web {
    width: 100%;
    height: auto;
}

.nav_web {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF8EF;
}

.nav_web .title {
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_web .title h1 {
    font-size: 32px;
    color: #F96E2A;
    text-decoration: underline #C9E6F0;
}

.nav_web .list {
    width: 40%;
    height: 100px;
}

.nav_web .list ul {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav_web .list ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #F96E2A;
}

.nav_web .list ul li a i {
    font-size: 22px;
}

.nav_web .list ul li a:hover {
    text-decoration: underline #78B3CE;
}

/* Website Cover Css End */

/* Website Cover Css Start */

.cover_web {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.cover_web img {
    width: 100%;
    height: 550px;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}

.cover_web .cover_text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover_web .cover_text h1 {
    color: whitesmoke;
    font-size: 32px;
}

/* Cover CSS End */

/* Small Cover CSS Start */

.small_card_web {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C9E6F0;
}

.small_card_web .small_card {
    width: 25%;
    height: 100px;
    background-color: #FBF8EF;
    border: 4px solid #F96E2A;
    border-radius: 15PX;
    display: flex;
}

.small_card_web .small_card .prtone {
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_card_web .small_card .prtone i {
    font-size: 32px;
}

.small_card_web .small_card .prttwo {
    width: 75%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_card_web .small_card .prttwo h2 {
    font-size: 24px;
    font-weight: 100;
}

/* Small Cover Css End */

/* Cards Css Start */

.card_web {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FBF8EF;
}

.card_web .main_card {
    width: 28%;
    height: 480px;
    border: 2px solid red;
    background-color: #C9E6F0;
    border: 5px solid #78B3CE;
    border-radius: 12px;
    overflow: hidden;
    margin: 15px 15px 15px 15px;
}

.card_web .main_card .card_img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 2px solid #F96E2A;
}

.card_web .main_card .card_img img {
    width: 100%;
    height: 200px;
    background-size: cover
}

.card_web .main_card .card_title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.card_web .main_card .card_title h2 {
    font-size: 28px;
    font-weight: 100;
    color: #222831;
}

.card_web .main_card .card_parra {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_web .main_card .card_parra p {
    width: 80%;
    text-align: justify;
    font-size: 16px;
    color: #222831;
}

.card_web .main_card .card_price {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.card_web .main_card .card_price h2 {
    font-size: 28px;
    color: #222831;
}

.card_web .main_card .card_button {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.card_web .main_card .card_button .quantity {
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card_web .main_card .card_button .quantity button {
    width: 25%;
    height: 40px;
    background-color: #FBF8EF;
    color: #222831;
    border: 3px solid;
    border-radius: 40%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_web .main_card .card_button .quantity .quantity_target {
    font-size: 22px;
    color: #222831;
}

.card_web .main_card .card_button button {
    width: 40%;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #F96E2A;
    background-color: #78B3CE;
    color: #FBF8EF;
    font-size: 16px;
    font-weight: 800;
}

/* website Css End */

/* cart Css Start */

.main_cart {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.main_cart .sub_cart {
margin-top: 15px;
margin-bottom: 15px;
    width: 80%;
    height: 350px;
    display: flex;
    overflow: hidden;
    background-color: #C9E6F0;
    border: 4px solid #F96E2A;
    border-radius: 12px;
}

.sub_cart .cart_img {
    width: 30%;
    height: 350px;
    overflow: hidden;
}

.sub_cart .cart_img img {
    width: 100%;
    height: 350px;
    background-size: cover;
}

.sub_cart .cart_detail {
    width: 70%;
    height: 350px;
}

.sub_cart .cart_detail .detail_name,
.sub_cart .cart_detail .detail_price {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.sub_cart .cart_detail .detail_name h1{
    font-size: 30px;
    color: #F96E2A;
}

.sub_cart .cart_detail .detail_price h2{
    font-size: 24px;
    font-weight: 100;
    color: #222831;
}

.sub_cart .cart_detail .detail_detail {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_cart .cart_detail .detail_detail p {
    width: 80%;
    text-align: justify;
    font-size: 18px;
    color: #222831;
}

.sub_cart .cart_detail .detail_quantity{
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.sub_cart .cart_detail .deatil_quantity h2{
    font-size: 22px;
    color: #222831;
}

.sub_cart .cart_detail .detail_button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.sub_cart .cart_detail .detail_button button{
    width: 150px;
    height: 35px;
    border: 2px solid whitesmoke;
    border-radius:12px;
    font-size: 16px;
    color: whitesmoke;
    background-color: #FC345C;

}

.cart_order_button{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart_order_button button{
    width: 150px;
    height: 40px;
    border: 2px solid #F96E2A;
    background-color: #FBF8EF;
    font-size: 18px;
    color: #222831;
}

.customer_info {
    display: none; /* Hidden */
    position: fixed;
    top: 30%;
    left:30%;
    background-color: #FBF8EF;
    border: 2px solid #F96E2A;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: auto;
    text-align: center;
}

.customer_info .close_button{
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: 800;
}

.customer_info .close_button:hover{
    color: red;
}

.customer_info h2{
    font-size: 22px;
    color: #F96E2A;
}

.customer_info input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #78B3CE;
    border-radius: 5px;
}

.customer_info button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: #C9E6F0;
    border: 2px solid #F96E2A;
    font-size: 16px;
    font-weight: 800;
    color: #F96E2A;
}


/* Customer Profile Page */

.main_profile{
    width: 100%;
    height: auto;
}

.main_profile .sub_header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9E6F0;
    border-bottom: 2px solid #F96E2A;
}

.main_profile .sub_header h1{
    font-size: 32px;
    font-weight: 800;
    color: #F96E2A;
}

.main_profile .profile_target,
.main_profile .user_info_target{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_target .user_profile,
.user_info_target .user_add_info{
    margin-top: 40px;
    width: 70%;
    height: auto;
    border: 2px solid #F96E2A;
    background-color: #C9E6F0;
}

.user_profile table,
.user_add_info table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.user_profile table tr,
.user_add_info table tr{
    width: 100%;
    height: 60px;
    border: 2px solid whitesmoke;
}

.user_profile table tr th,
.user_profile table tr td,
.user_add_info table tr th,
.user_add_info table tr td{
    width: 50%;   
    text-align: center;
}

.user_profile table tr th,
.user_add_info table tr th{
    font-size: 22px;
    color: #F96E2A;
}
.user_profile table tr td,
.user_add_info table tr td{
    font-size: 18px;
    color: #222831;
}

/* Profile Page Css End */

/* Sales Page Css  */

.sub_dash .right .sub_header{
    padding: 15px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub_dash .right .sub_header h1{
    font-size: 32px;
    color: #222831;
    text-decoration:  underline #FBF8EF;
}

/* Product Page Css */

.product_edit {
    display: none; /* Hidden */
    position: fixed;
    top: 30%;
    left:30%;
    background-color: #FBF8EF;
    border: 2px solid #F96E2A;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: auto;
    text-align: center;
}

.product_edit .close_button{
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: 800;
}

.product_edit .close_button:hover{
    color: red;
}

.product_edit h2{
    font-size: 22px;
    color: #F96E2A;
}

.product_edit input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #78B3CE;
    border-radius: 5px;
}

.product_edit textarea{
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #78B3CE;
    border-radius: 5px;
}

.product_edit button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: #C9E6F0;
    border: 2px solid #F96E2A;
    font-size: 16px;
    font-weight: 800;
    color: #F96E2A;
}